{% extends "base.html"  %}
{% block content %}

<div class="container is-max-desktop">
    <div class="notification is-Light">

      <div class="box">
        <nav class="navbar" role="navigation" aria-label="main navigation">

          <div class="navbar-brand">
            <a class="navbar-item" href="{{url_for("main")}}">
              <img src="https://jungle.krafton.com/resource/images/common/logo.svg" sizes="200%">
            </a>
          </div>
          <div class="navbar-end">
              <section class="hero is-small">
                <div class="hero-body">
                  <div class="container has-text-centered">
                    <h3 class="subtitle is-4" style="max-width: 800px; margin: 0 auto; line-height: 1;">{{ nickname }} 님</h3>
                  </div>
                </div>
              </section>
              <div class="buttons">
                <form action = "/logout" Method="GET">
                <button class="button is-light" type= "submit">
                  로그아웃
                </button>
              </form>
              </div>

          </div>
        </nav>
      </div>


      <div class="box">
        <form method="POST" action="/create">
          <h3 class="title is-4 has-text-centered">친구들과 함께 즐기고 싶은 문제를 추가 하십시오 !</h3>
        </form>
      </div>
      <div class="box">
        <div class="box">
          <div class="columns">
            <div class="column">
              <h5 class="title is-5">게임선택 : </h5>
            </div>


            <form method="POST" action="/create">
              <label for="quiz_category"></label>
              <div class="select">
                <select name="quiz_category">
                  <option>수도</option>
                  <option>이어말하기</option>
                </select>
              </div>
          </div>

          <div class="field">
            <div class="control">
              <label for="quiz"></label>
              <textarea class="textarea is-large" placeholder="문제를 입력하시오" name="quiz" required></textarea>
            </div>
          </div>
          <label for="answer"></label>
          <input class="input is-large" type="text" placeholder="답을 입력하시오" name="answer" required>
        </div>
        <div class="has-text-centered">
          <input class="button" type="submit" value="제출">
          <a class="button" href="{{url_for("main")}}">메인 페이지로 이동</a>
        </div>
      </div>
    </div>
    </form>


</body>

      </div>
    </div>

    {% endblock %}
