{% extends "base.html"  %}
{% block content %}
<div class="columns is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
    <div class = "column">
        <div class ="notification is-Light">
        <div class  ="box">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <img src="https://jungle.krafton.com/resource/images/common/logo.svg" sizes="200%">
                </div>
        </div>
    <div class = "box">
        <div class="block">
            <h3 class="title is-2 has-text-centered" >Quiz! Quiz!</h3>
          </div>
        <form method="GET">
        <div class="block">
            <div class="control has-icons-left">
              <input class="input is-medium" id = "user_id" name= "user_id" type="id" style="width: 500px;" placeholder="ID">
              <span class="icon is-medium is-left">
                <span class="mdi mdi-identifier"></span>
              </span>
            </div>
        </div>

        <div class="block">
            <div class="control has-icons-left">    
                <input class="input is-medium" id = "user_password" name= "user_password"type="password" style="width: 500px;" placeholder="PASS WORD">
                <span class="icon is-medium is-left">
                    <span class="mdi mdi-onepassword"></span>
                  </span>
            </div>
        </div>
        
        <div class="block">
            <div class="buttons is-centered">
                <button class="button is-primary"  type = "submit" formaction = "/login">로그인</button>
                <button class="button is-primary"  type = "submit" formaction = "/register">회원가입</button>
            </div>
        </div>
    </form>
    </div>
</div>
</div>
</div>
{% endblock %}