<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <title>Example</title>

  <script>

  </script>


</head>


<body>

  <div class="container is-max-desktop">
    <div class="notification is-Light">

      <div class="box">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="http://127.0.0.1:5500/1.html">
              <img src="https://jungle.krafton.com/resource/images/common/logo.svg" sizes="200%">
            </a>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons is-right">
                <a class="button is-light">
                  Logout
                </a>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <div class="box">
        <div class="columns">
          <div class="column">
            <h5 class="title is-5">게임선택 : </h5>
          </div>
<!--          <div class="column">-->
            <div class="select">
              <select>
                <option>수도퀴즈</option>
                <option>인물퀴즈</option>
              </select>
            </div>
<!--          </div>-->
          <button class="button">Game Start</button>
          <button class="button">Game Customize</button>
        </div>
      </div>
      <div class="box">
        <div class = "block">
        <div class="card">
          <footer class="card-footer">
            <div class="card-footer-item">게임주제 : </div>
            <div class="card-footer-item">타이머 : </div>
            <div class="card-footer-item">맞춘 갯수 : </div>
          </footer>
        </div>
      </div>
        <div class="field">
          <div class="control">
            <textarea class="textarea is-large" placeholder="문제를 입력하시오"></textarea>
          </div>
        </div>
        <input class="input is-large" type="text" placeholder="답을 입력하시오">
      </div>

    </div>
  </div>

</body>

</html>


