<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <title>Example</title>

  <script>
    if ("{{ quiz['quiz'] }}" !== "Game Start를 누르세요") {
      var timeLeft = 1000;  // 제한 시간 초기값을 설정함
      var timerId = setInterval(function () {  // 1초마다 실행되도록 함
        timeLeft--;
        document.getElementById("timeLeft").innerHTML = "남은 시간: " + timeLeft + "초";  // 시간을 표시함
        if (timeLeft <= 0) {  // 시간이 다 되면
          clearInterval(timerId);  // 타이머를 종료함
          alert("제한 시간이 초과되었습니다.");  // alert 창을 띄움
          document.getElementById("userAnswer").disabled = true;  // 입력 창을 비활성화함
          document.getElementById("submitButton").disabled = true;  // 제출 버튼을 비활성화함
        }
      }, 1000);
    }

    var progressBar = document.querySelector('.progress-bar');
    var progress = 0;

    var timer = setInterval(function() {
    progress += 10;
    progressBar.style.width = progress + '%';
    progressBar.setAttribute('aria-valuenow', progress);

  if (progress >= 100) {
    clearInterval(timer);
  }
}, 1000);

    function gameStart() {
      document.getElementById("userAnswer").disabled = false;
      gamestatus = 1;
    }

    function checkAnswer() {
      var answer = "{{ quiz['answer'] }}";  // 정답을 가져옴
      var userAnswer = document.getElementById("userAnswer").value;  // 사용자가 입력한 값을 가져옴
      if (userAnswer === '') {
        alert("답을 입력해주세요.");  // 사용자가 답을 입력하지 않은 경우
        return false;
      } else if (answer == userAnswer) {
        return true;  // 정답과 입력값이 일치하면 form을 submit함
      } else {
        alert("틀렸습니다.");  // 정답과 입력값이 일치하지 않으면 alert 창을 띄움
        return false;  // form을 submit하지 않음
      }
    }
  </script>


</head>


<body>

  <div class="container is-max-desktop">
    <div class="notification is-Light">

      <div class="box">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="http://127.0.0.1:5500/1.html">
              <img src="https://jungle.krafton.com/resource/images/common/logo.svg" sizes="200%">
            </a>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-success">
                  <strong>문제 추가!</strong>
                </a>
                <a class="button is-light">
                  Logout
                </a>
              </div>
            </div>
          </div>
        </nav>
      </div>

      



      <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <div class="content">
                <div class="field">
                  <div class="control block"> 
                    <div class="box">
                      <div class="columns block">
                        <div class="column">
                          <h5 class="title is-5">게임선택 : </h5>
                        </div>
                        <form method="GET" action="/main/gamestart">
                          <div class="select">
                            <select name="quizType">
                              <option value="수도">수도</option>
                              <option value="이어말하기">이어말하기</option>
                            </select>
                          </div>
                          <button class="button" id="startButton" type="submit" name="start" value="True">게임 시작</button>
                        </form>
                      </div>
                    </div>              
                    <div class="box">
                      <form method="GET" action="/main/gamestart" onsubmit="return checkAnswer();">
                        <h3>문제: {{ quiz['quiz'] }}</h3>
                        <button class="button is-static is-light is-rounded is-pulled-right" id="timeLeft">time</button>
                      
                    </div>
                  </div>
                <input class="input is-large" type="text" id="userAnswer" name="userAnswer" placeholder="5초 안에 답을 입력하세요~">

              </div>
                <div class="has-text-centered">
                  <input class="button" type="submit" value="Submit">
                </form>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <div class="content">
              <p class="title">Rank charset</p><hr>
              <div class="content">
                <ol type="1">
                  <li>나</li>
                  <li>너</li>
                  <li>우리</li>
                  <li>Coffee</li>
                  <li>Tea</li>
                  <li>Milk</li>
                  <li>Coffee</li>
                  <li>Tea</li>
                  <li>Milk</li>
                  <li>Coffee</li>
                </ol>
              </div>
            </div>
          </article>
        </div>
      </div>
      
    </div>
  </div>
</body>

</html>


